{%include 'header.html'%}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-8">
                    <h1 class="m-0">Asosiasi (min support = 0.55, min confidence = 0.9)</h1>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <!-- Modal -->
        <div id="variabel1" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">                 
                            <div class='card-body'>
                                <div class="card card-info">
                                    <div class="card-header">
                                        <h3 class="card-title">Variabel yang berpengaruh adalah   </h3>
                                        {%for i in listItem1%}
                                        <h3 class="card-title"> 	&nbsp; {{i[1]}}</h3>
                                        {%endfor%}
                                    </div>
                                   
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal-->

        <!-- Modal -->
        <div id="variabel2" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">                 
                            <div class='card-body'>
                                <div class="card card-info">
                                    <div class="card-header">
                                        <h3 class="card-title">Variabel yang berpengaruh adalah </h3>
                                        {%for i in listItem2%}
                                        <h3 class="card-title"> 	&nbsp;{{i[1]}}</h3>
                                        {%endfor%}
                                    </div>
                                   
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal-->
        <!-- Modal -->
        <div id="variabel3" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">                 
                            <div class='card-body'>
                                <div class="card card-info">
                                    <div class="card-header">
                                        <h3 class="card-title">Variabel yang berpengaruh adalah </h3>
                                        {%for i in listItem3%}
                                        <h3 class="card-title">	&nbsp; {{i[1]}}</h3>
                                        {%endfor%}
                                    </div>
                                   
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal-->

        <!-- Modal -->
        <div id="variabel4" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">                 
                            <div class='card-body'>
                                <div class="card card-info">
                                    <div class="card-header">
                                        <h3 class="card-title">Variabel yang berpengaruh adalah </h3>
                                        {%for i in listItem4%}
                                        <h3 class="card-title">	&nbsp; dan {{i[1]}}</h3>
                                        {%endfor%}
                                    </div>
                                   
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal-->
        

        <!-- Modal -->
        <div id="variabel1_23" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">                 
                            <div class='card-body'>
                                <div class="card card-info">
                                    <div class="card-header">
                                        <h3 class="card-title">Variabel yang berpengaruh adalah   </h3>
                                        {% if listItem1_23 is defined and listItem1_23|length %}
                                        {%for i in listItem1%}
                                        <h3 class="card-title"> 	&nbsp; {{i[1]}}</h3>
                                        {%endfor%}
                                        {%endif%}
                                    </div>
                                   
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal-->

        <!-- Modal -->
        <div id="variabel2_23" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">                 
                            <div class='card-body'>
                                <div class="card card-info">
                                    <div class="card-header">
                                        <h3 class="card-title">Variabel yang berpengaruh adalah </h3>
                                        {% if listItem2_23 is defined and listItem2_23|length %}
                                        {%for i in listItem2%}
                                        <h3 class="card-title"> 	&nbsp;{{i[1]}}</h3>
                                        {%endfor%}
                                        {%endif%}
                                    </div>
                                   
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal-->
        <!-- Modal -->
        <div id="variabel3_23" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">                 
                            <div class='card-body'>
                                <div class="card card-info">
                                    <div class="card-header">
                                        <h3 class="card-title">Variabel yang berpengaruh adalah </h3>
                                        {% if listItem3_23 is defined and listItem3_23|length %}
                                        {%for i in listItem3%}
                                        
                                        <h3 class="card-title">	&nbsp; {{i[1]}}</h3>
                                        {%endfor%}
                                        {%endif%}
                                    </div>
                                   
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal-->

        <!-- Modal -->
        <div id="variabel4_23" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">                 
                            <div class='card-body'>
                                <div class="card card-info">
                                    <div class="card-header">
                                        <h3 class="card-title">Variabel yang berpengaruh adalah </h3>
                                        {% if listItem4_23 is defined and listItem4_23|length %}
                                        {%for i in listItem4%}
                                        
                                        <h3 class="card-title">	&nbsp; dan {{i[1]}}</h3>
                                        {%endfor%}
                                        {%endif%}
                                    </div>
                                   
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal-->
        
        
            <h5 class="mb-2 mt-4">Variabel yang berpengaruh di tiap cluster (2022)</h5>
            <div class="row">
                {% for i in count %}
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                <!-- small card -->
                <div class="small-box bg-maroon">
                <div class="inner">
                    <h3>{{i}}<sup style="font-size: 20px"></sup></h3>
                    <p>Rules</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                    {%if loop.index == 1%}
                        <a href="#variabel1" class="small-box-footer" data-toggle="modal" data-target="#variabel1">
                            Check the rules<i class="fas fa-arrow-circle-right"></i>
                        </a>
                    {%endif%}

                    {%if loop.index == 2%}
                        <a href="#variabel2" class="small-box-footer" data-toggle="modal" data-target="#variabel2">
                        Check the rules<i class="fas fa-arrow-circle-right"></i>
                        </a>
                    {%endif%}

                    {%if loop.index == 3%}
                        <a href="#variabel3" class="small-box-footer" data-toggle="modal" data-target="#variabel3">
                        Check the rules<i class="fas fa-arrow-circle-right"></i>
                        </a>
                    {%endif%}

                    {%if loop.index == 4%}
                        <a href="#variabel4" class="small-box-footer" data-toggle="modal" data-target="#variabel4">
                        Check the rules<i class="fas fa-arrow-circle-right"></i>
                        </a>
                    {%endif%}
                </div>
            </div>
           
          <!-- ./col -->
          {%endfor%}
        </div>
            {% if count_23 is defined and count_23|length %}
            <h5 class="mb-2 mt-4">Variabel yang berpengaruh di tiap cluster (2023)</h5>
            <div class="row">
                {% for i in count_23 %}
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                <!-- small card -->
                <div class="small-box bg-olive">
                <div class="inner">
                    <h3>{{i}}<sup style="font-size: 20px"></sup></h3>
                    <p>Rules</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                    {%if loop.index == 1%}
                        <a href="#variabel1_23" class="small-box-footer" data-toggle="modal" data-target="#variabel1">
                            Check the rules<i class="fas fa-arrow-circle-right"></i>
                        </a>
                    {%endif%}

                    {%if loop.index == 2%}
                        <a href="#variabel2_23" class="small-box-footer" data-toggle="modal" data-target="#variabel2">
                        Check the rules<i class="fas fa-arrow-circle-right"></i>
                        </a>
                    {%endif%}

                    {%if loop.index == 3%}
                        <a href="#variabel3_23" class="small-box-footer" data-toggle="modal" data-target="#variabel3">
                        Check the rules<i class="fas fa-arrow-circle-right"></i>
                        </a>
                    {%endif%}

                    {%if loop.index == 4%}
                        <a href="#variabel4_23" class="small-box-footer" data-toggle="modal" data-target="#variabel4">
                        Check the rules<i class="fas fa-arrow-circle-right"></i>
                        </a>
                    {%endif%}
                </div>
            </div>
            
            {% else %}
            <div>

            </div>
            {%endfor%}
        </div>
            {%endif%}
            
            <div class="card card-dark">
                <div class="card-header">
                    <h3 class="card-title">Cluster </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="association"class="table table-striped table-hover display responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Tahun</th>
                            <th style="width: 10px;">Cluster</th>
                            <th style="width: 10px;">Min Support </th>
                            <th>Min Confidence</th>
                            <th>Jika item ini muncul</th>
                            <th>=></th>
                            <th>Maka item ini juga</th>
                            <th>Support</th>
                            <th>Confidence</th>
                            <th>Lift</th>
                            <th>Conviction</th>


                        </tr>
                    </thead>
                    <tbody>
                        {% for detail in details %}
                        <tr>
                            <td>{{ detail[10] }}</td>
                            <td>{{ detail[9] }}</td>
                            <td>{{ detail[7] }}</td>
                            <td>{{ detail[8] }}</td>
                            <td>{{ detail[1] }}</td>
                            <td>=></td>
                            <td>{{ detail[2]}}</td>
                            <td>{{ detail[3]}}</td>
                            <td>{{ detail[4]}}</td>
                            <td>{{ detail[5]}}</td>
                            <td>{{ detail[6]}}</td>
                        </tr>

                        {% endfor %}
                    </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            </div>
            
    </section>

</div>
<!-- /.content-wrapper -->
<!-- DataTables  & Plugins -->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
<!-- /.content-wrapper -->
<!-- jQuery -->
<script src="{{url_for ('static', filename='plugins/jquery/jquery.min.js' ) }}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{url_for ('static', filename='plugins/jquery-ui/jquery-ui.min.js' ) }}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="{{url_for ('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js' ) }}"></script>
<!-- ChartJS -->
<script src="{{url_for ('static', filename='plugins/chart.js/Chart.min.js' ) }}"></script>
<!-- Sparkline -->
<script src="{{url_for ('static', filename='plugins/sparklines/sparkline.js' ) }}"></script>
<!-- Summernote -->
<script src="{{url_for ('static', filename='plugins/summernote/summernote-bs4.min.js' ) }}"></script>
<!-- overlayScrollbars -->
<script src="{{url_for ('static', filename='plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' ) }}"></script>
<!-- DataTables  & Plugins -->
<script src="{{url_for ('static', filename='plugins/datatables/jquery.dataTables.min.js' ) }}"></script>
<script src="{{url_for ('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' ) }}"></script>
<script src="{{url_for ('static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js' ) }}"></script>
<script src="{{url_for ('static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js' ) }}"></script>
<script src="{{url_for ('static', filename='plugins/datatables-buttons/js/dataTables.buttons.min.js' ) }}"></script>
<script src="{{url_for ('static', filename='plugins/datatables-buttons/js/buttons.bootstrap4.min.js' ) }}"></script>
<script src="{{url_for ('static', filename='plugins/jszip/jszip.min.js' ) }}"></script>
<script src="{{url_for ('static', filename='plugins/pdfmake/pdfmake.min.js' ) }}"></script>
<script src="{{url_for ('static', filename='plugins/pdfmake/vfs_fonts.js' ) }}"></script>
<script src="{{url_for ('static', filename='plugins/datatables-buttons/js/buttons.html5.min.js' ) }}"></script>
<script src="{{url_for ('static', filename='plugins/datatables-buttons/js/buttons.print.min.js' ) }}"></script>
<script src="{{url_for ('static', filename='plugins/datatables-buttons/js/buttons.colVis.min.js' ) }}"></script>
<script>
if ( ! $.fn.DataTable.isDataTable( '#association' ) ) {
    $('#association').dataTable({
    dom: 'Bfrtip',
    buttons: ["csv", "excel", "pdf", "print", "colvis"]
    });
    }
</script>
{% include 'footer.html'%}