{%include 'header.html'%}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-8">
                    <h1 class="m-0">Asosiasi (min support = 0.55, min confidence = 0.9)</h1>
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->

    <section class="content">
        <div class="container-fluid">

            <div class="card-header">
                <h3 class="card-title">Cluster </h3>
            </div>
            <!-- /.card-header -->


            <div class="card-body p-0">
                <table class="table table-sm">
                    <thead>
                        <tr>

                            <th style="width: 10px">No.</th>
                            <th>Jika item ini muncul</th>
                            <th>=></th>
                            <th>Maka item ini juga</th>
                            <th>Support</th>
                            <th>Confidence</th>
                            <th>Lift</th>
                            <th>Conviction</th>


                        </tr>
                    </thead>
                    <tbody>
                        {% for detail in details %}
                        <tr>

                            <td>{{loop.index}}</td>
                            <td>{{ detail[1]}}</td>
                            <td>=></td>
                            <td>{{ detail[2]}}</td>
                            <td>{{ detail[3]}}</td>
                            <td>{{ detail[4]}}</td>
                            <td>{{ detail[5]}}</td>
                            <td>{{ detail[6]}}</td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->

        </div>
    </section>

</div>
<!-- /.content-wrapper -->
{% include 'footer.html'%}