{%include 'header.html'%}
<body>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Informasi Tambahan</h1>
                    </div>
                   
                </div>
                    

            </div>
                <!-- /.row -->
        </div>
            <!-- /.container-fluid -->
      
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
           
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-olive">
                            <div class="card-body">
                            <h5 class="fw-bolder py-3 ">Support</h5>
                            <p class="">Nilai support menunjukkan seberapa sering item itu muncul di dalam data</p>
                            </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-olive">
                            <div class="card-body">
                            <h5 class="fw-bolder py-3 ">Confidence</h5>
                            <p class="">Nilai yang digunakan untuk melihat kemungkinan bahwa aturan asosiasi benar</p>
                            </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-olive">
                            <div class="card-body">
                            <h5 class="fw-bolder py-3 ">Lift</h5>
                            <p class="">Nilai lift digunakan untuk mengukur seberapa kuat aturan asosiasi</p>
                            </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-olive">
                            <div class="card-body">
                            <h5 class="fw-bolder py-3 ">Conviction</h5>
                            <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        
                    </div>
                </div>
        </div>
        </section>
        <!-- /.content -->
    </div>
</body>
<!-- /.content-wrapper -->
{% include 'footer.html'%}