{%include 'header.html'%}
<body>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Clustering Result {{date}}</h1>
                    </div>
                   
                </div>
                    

            </div>
                <!-- /.row -->
        </div>
            <!-- /.container-fluid -->
      
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
            <div class="card">
                <div id='jobLevel'>
                    <!-- Plotly chart will be drawn inside this DIV -->
                </div>
            </div>
            <div class="card">
                <div id='businessUnit'>
                    <!-- Plotly chart will be drawn inside this DIV -->
                </div>
            </div>
            <div class="card">
                <div id='top5dep'>
                    <!-- Plotly chart will be drawn inside this DIV -->
                </div>
            </div>
       
        </section>
        <!-- /.content -->
    </div>
</body>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var jobGraphs = {{jobGraphJSON| safe}};
  Plotly.plot('jobLevel', jobGraphs,{});

  var unitGraphs = {{unitGraphJSON| safe}};
  Plotly.plot('businessUnit', unitGraphs,{});

  var depGraphs = {{depGraphJSON| safe}};
  Plotly.plot('top5dep', depGraphs,{});
</script>

<!-- /.content-wrapper -->
{% include 'footer.html'%}